body{
    margin:0;
    padding: 0;
    font-family:sans-serif;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    height:100vh;
    overflow: hidden;
}


.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    background:white;
    padding: 20px;
    margin: 8% auto 0;
    text-align:center
}

.sign-up-form h1{
    color: rgb(8, 7, 102);
    margin-bottom: 30px;
}

.input-box{
    border-radius: 20px;
    padding:8px;
    margin:10px 0;
    width: 100%;
    border: 1px solid #999;
    outline :none;
    
}

button{
    color:#fff;
    width:100%;
    padding: 10px;
    border-radius: 20px;
    font-size:15px;
    margin: 10px 0;
    border:none;
    outline:none;
    cursor:pointer
}

.signup-btn{
    background-color:rgb(51, 97, 150);
}

.google-btn{
    background-color:rgb(14, 42, 73);
    

}

a{
    text-decoration:none ;
}

hr{
    margin-top: 20px;
    width:80%;
}
.or{
    background: #fff;
    width:30px;
    margin:19px auto 10px;
}

img{
    width:70px;
    margin-top: -50px;
}



