<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="tour.css"/>
    <title>EzTour</title>
</head>
<body>
    <header>
        <div class="Navbar">
            <div class="WebsiteName"><a href="../../index.html">EzTour</a></div>
            <ul class="Features">
                <li><a href="#">Destination</a></li>
                <li><a href="#">Trips</a></li>
                <li><a href="#">Experiences</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <a href="#" class="action_btn">Let's Tour</a>
            <div class="Toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        
        <div class="DropdownMenu">
            <li><a href="#">Destination</a></li>
            <li><a href="#">Trips</a></li>
            <li><a href="#">Experiences</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#" class="action_btn">Let's Tour</a></li>
        </div>
    </header>

    <main>
        <section id="MainContent">
            <h1>Your Journey, Jour Story</h1>
            <p>Live Your Life By A Compass, Not A Clock.</p>
        </section>
    </main>

    <script>

        const Togglebtn=document.querySelector('toggle_btn')
        const TogglebtnIcon=document.querySelector('toggle_btn i')
        const Drop=document.querySelector('DropdownMenu')

        Togglebtn.onclick= function(){
            Drop.classList.toggle('Open')
            const isOpen=Drop.classList.contains('Open')
            TogglebtnIcon.classList=isOpen?'fa-solid fa-xmark':'fa-solid fa-bars'
        }

    </script>

</body>
</html>