body{
    margin:0;
    padding: 0;
    font-family:sans-serif;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height:100vh;
    overflow: hidden;
}


.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    background:white;
    padding: 20px;
    margin: 8% auto 0;
    text-align:center;
    border-radius: 10px;
}

button{
    color:#fff;
    width:100%;
    padding: 10px;
    border-radius: 20px;
    font-size:15px;
    margin: 10px 0;
    border:none;
    outline:none;
    cursor:pointer
}

.google-btn{
    background-color:rgb(14, 42, 73);
}

a{
    text-decoration:none ;
}

hr{
    margin-top: 20px;
    width:80%;
}
.or{
    background: #fff;
    width:30px;
    margin:19px auto 10px;
}



